:root {
  --text-color: #424146;
  --text-color-secondary: #135474;
  --black-color: #000;
  --white-color: #fff;
  --primary-color: #06638c;
  --secondary-color: #009f7e
}

@page {
  size: a4 landscape;
}

/*
@page {
  size: a5 landscape;
} */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-radiant {
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

.pl-50 {
  padding-left: 50px;
}

.pr-40 {
  padding-right: 40px;
}
