
.wrapper-report-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  margin-top: 37px;
}

.report-info {
  margin-left: 20px;
  font-size: 1.6rem;
  color: var(--text-color);
}

.report-info__no {
  margin-top: 24px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.report-info__no__label {
  font-weight: 700;
  min-width: 65px;
  font-family: "Montserrat-Bold";
  margin-top: 3px;
}

.report-info__no__content {
  font-weight: 700;
  font-size: 2.1rem;
  min-width: 200px;
  font-family: "Montserrat-Bold";
}

.report-info__date {
  margin-top: 4px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.report-info__date__label {
  font-family: "Montserrat-Medium";
  min-width: 135px;
}


.report-info__date__content {
  font-family: "Montserrat-Thin";
  font-size: 1.7rem;
}

.iso__content {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 60px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.3rem;

  border: none;
  display: inline-block;
  margin: 0px 0px 0px 40px;
}


.qr-code__content {
  width: 50px;
  height: 50px;
  border: 2px solid var(--secondary-color);
  text-align: center;
  line-height: 60px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.3rem;

  display: inline-block;
  margin: 0px 0px 0px 10px;
}

.qr-code__des {
  font-style: italic;
  margin-top: 4px;
  font-size: 1.5rem;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  color: var(--white-color);
  padding: 0px 15px 0px 14px;
  border-top-left-radius: 69px 80px;
  position: relative;
}

.wrapper-report-description {
  padding-bottom: 40px;
  margin-top: 8px;
}

.title-identification {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 6px;
}

.title-report {
  font-family: SVN-Aptima-bold;
  text-align: center;
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 600;
}

.img-report {
  width: 270px;
  height: 270px;
  border: 1px solid;
  margin: auto;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-report img {
  width: 99%;
  height: 99%;
}

.des-report {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 6px;
}

.note-eng {
  font-size: 1.4rem;
  text-align: center;
}

.note-vn {
  font-style: italic;
  font-size: 1.4rem;
  text-align: center;
}

.wrapper-sign {
  margin-top: 24px;
}

.sign-row {
  min-height: 180px;
}

.sign {
  width: 120px;
}

.gemologist {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gemologist_top {
  font-weight: 600;
}

.gemologist_title {
  color: var(--secondary-color);
  font-size: 1.6rem;
}

.gemologist_des {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.gemologist_bottom {
  font-size: 1.4rem;
  font-weight: 600;
}

.wrapper-instrument {
  display: flex;
}

.instrument__title {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
}

.instrument__list {
  list-style: none;
  padding: 0;
}

.instrument__item {
  font-size: 1.4rem;
}
