@media print {
    .print-w-240 {
        width: 240px !important;
    }
      
    .print-h-240 {
        height: 240px !important;
    }

    .report-info__no {
        margin-top: 10px;
        margin-bottom: 14px;
    }
}
