@media print {
  .print-w-240 {
    width: 240px !important;
  }
    
  .print-h-240 {
    height: 240px !important;
  }

  .report-info__no {
    margin-top: 10px;
    margin-bottom: 14px;
  }

  .report-info__no__content {
    margin-left: 2px;
  }

  .des-report {
    font-size: 2rem;
    font-weight: 500;
  }

  .note-eng {
    padding-left: 15px !important;
    margin-right: 2.5px !important;
    font-size: 1.55rem;
  }

  .note-vn {
    font-size: 1.6rem;
    padding-left: 15px;
  }

  .wrapper-main-right {
    padding-left: 15px;
    padding-right: 30px;
  }

  .print-pl-0 {
    padding-left: 0px !important;
  }
  
  .print-pr-0 {
    padding-right: 0px !important;
  }

  .print-pl-24 {
    padding-left: 24px;
  }

  .table-info__header__left-info {
    font-size: 12px !important;
  }
}
