@media (max-width: 1900px) {
  .wrapper-main-left {
    padding-right: 0px;
  }
  .header-info {
    gap: 8px;
    height: 120px;
  }
  .header-info__logo__image {
    width: 90px;
  }
  .header-info__content__image {
    width: 90px;
    margin-bottom: 4px;
  }
  .header-info__content__title {
    font-size: 1.4rem;
  }

  .header-info__content__des {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .header-info__content__info {
    gap: 6px;
  }
}

@media (max-width: 1438px) {
  html {
    font-size: 50%;
  }

  .header-info {
    height: 102px;
  }

  .table-info__header {
    font-size: 1.4rem;
    height: 18px;
    line-height: 18px;
  }

  .report-info__no {
    width: 160px;
  }

  .report-info__date {
    width: 160px;
  }

  .table-info__content {
    height: 40px;
  }

  .table-info__footer {
    height: 40px;
  }
}


@media (max-width: 1438px) {
  html {
    font-size: 37.5%;
  }

  .header-info__content__title {
    font-size: 1.7rem;
  }

  .header-info__content__des {
    font-size: 1.6rem;
  }

  .header-info__content__address {
    font-size: 1.6rem;
  }

  .header-info__content__info {
    font-size: 1.6rem;
  }

  .table-info__content {
    height: 31px;
  }

  .table-info__footer {
    height: 20px;
  }

  .grading-scale--normal {
    height: 18px;
  }

  .grading-scale--big {
    height: 38px;
  }

  .grading-scale--bigger {
    height: 84px;
  }

  .sign-row {
    min-height: 150px;
  }

  .color-scale {
    padding-left: 22px;
  }

  .clarity-scale {
    margin-left: 16px;
  }

  .grading-scale--border::after {
    height: 2px;
  }

  .wrapper-diamond-img {
    height: 200px;
  }

  .diamond-img {
    width: 300px;
    padding-left: 46px;
    padding-right: 52px;
  }

  .diamond-size {
    position: absolute;
    left: 0;
    top: 40px;
    max-width: 52px;
    transform: translateY(-54%);
  }

  .diamond-symbol {
    position: absolute;
    left: 0;
    top: 30px;
    max-width: 52px;
    font-size: 24px;
  }

  .diamond-girdle {
    position: absolute;
    left: 0;
    top: 54px;
    max-width: 52px;
  }

  .diamond-table {
    position: absolute;
    top: 0px;
    right: 131px;
  }

  .diamond-depth {
    position: absolute;
    top: 53px;
    right: 114px;
  }

  .diamond-info-1 {
    position: absolute;
    top: 22px;
    right: 98px;
  }

  .diamond-info-2 {
    position: absolute;
    top: 10px;
    right: 40px;
  }

  .diamond-info-3 {
    position: absolute;
    top: 70px;
    right: 96px;
  }

  .diamond-info-4 {
    position: absolute;
    top: 56px;
    right: 38px;
  }

  .diamond-info-5 {
    position: absolute;
    bottom: -10px;
    right: 124px;
  }
}

/* A4 */
@media (max-width: 1024px) {
  .diamond-size {
    position: absolute;
    left: 0;
    top: 38px;
    max-width: 52px;
    transform: translateY(-54%);
  }

  .diamond-girdle {
    position: absolute;
    left: 0;
    top: 55px;
    max-width: 52px;
  }

  .diamond-table {
    position: absolute;
    top: 0px;
    right: 131px;
  }

  .diamond-depth {
    position: absolute;
    top: 51px;
    right: 114px;
  }

  .diamond-info-1 {
    position: absolute;
    top: 21px;
    right: 98px;
  }

  .diamond-info-2 {
    position: absolute;
    top: 12px;
    right: 42px;
  }

  .diamond-info-3 {
    position: absolute;
    top: 70px;
    right: 98px;
  }

  .diamond-info-4 {
    position: absolute;
    top: 54px;
    right: 40px;
  }

  .diamond-info-5 {
    position: absolute;
    bottom: -10px;
    right: 124px;
  }

  .img-report {
    width: 220px;
    height: 220px;
  }
}


/* A5 */
@media (max-width: 700px) {
  .img-report {
    width: 220px;
    height: 220px;
  }

  .header-info__content__title {
    font-size: 1.7rem;
  }

  .header-info__content__des {
    font-size: 1.5rem;
  }

  .header-info__content__address {
    font-size: 1.6rem;
  }

  .header-info__content__info {
    font-size: 1.6rem;
  }

  .wrapper-sign {
    margin-top: 12px
  }

  .table-info__content {
    padding: 4px 16px;
  }

  .table-info__footer {
    padding: 4px 16px;
  }

  .wrapper-main-left {
    padding-bottom: 16px;
  }

  .sign {
    width: 60px;
  }

  .sign-row {
    min-height: 110px;
  }

  .wrapper-report-description {
    padding-bottom: 26px;
  }

  .diamond-size {
    position: absolute;
    left: 0;
    top: 39px;
    max-width: 52px;
    transform: translateY(-54%);
  }

  .diamond-girdle {
    position: absolute;
    left: 0;
    top: 53px;
    max-width: 52px;
  }

  .diamond-table {
    position: absolute;
    top: 0px;
    right: 132px;
  }

  .diamond-depth {
    position: absolute;
    top: 53px;
    right: 114px;
  }

  .diamond-info-1 {
    position: absolute;
    top: 21px;
    right: 99px;
  }

  .diamond-info-2 {
    position: absolute;
    top: 12px;
    right: 41px;
  }

  .diamond-info-3 {
    position: absolute;
    top: 68px;
    right: 97px;
  }

  .diamond-info-4 {
    position: absolute;
    top: 54px;
    right: 40px;
  }

  .diamond-info-5 {
    position: absolute;
    bottom: -10px;
    right: 124px;
  }
}
