/* Header left */

.wrapper-main-left {
  padding-bottom: 40px;
  padding-right: 50px;
}

.header-info {
  height: 144px;
  display: flex;
  gap: 20px;
}

.header-info__sign {
  width: 32px;
  height: 100%;
}

.header-info__logo {
  margin-top: 20px;
}

.header-info__logo__image {
  width: 128px;
}

.header-info__content {
  margin-top: 20px;
}

.header-info__content__company {
  font-size: 3.4rem;
  color: var(--primary-color);
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 6px;
}

.header-info__content__title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.header-info__content__des {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.4rem;
}

.header-info__content__address {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

.header-info__content__info {
  color: var(--secondary-color);
  display: flex;
  gap: 12px;
  font-size: 1.2rem;
}


/* table info */

.wrapper-content-info {
  margin-top: 120px;
  padding: 0px 38px 0px 60px;
}

.table-info__header {
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 12px;
}

.table-info__header__left-info {
  font-family: 'SVN-Aptima-bold';
  font-size: 18px;
}

.wrapper-table-info {
  background-image: url("../images/table_background.jpg");
  background-image: url(../images/table_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.table-info__header__right-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-info__content {
  display: flex;
  justify-content: space-between;
  padding: 4px 24px;
  height: 60px;
  border-bottom: 1px dashed var(--secondary-color);
}

.table-info__content__left-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-info__content__left-info__content {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Montserrat-Bold';
}

.table-info__content__left-info__des {
  font-style: italic;
  font-size: 1.4rem;
  text-align: left;
  font-family: 'SVN-Aptima-bold-italic';
}

.table-info__content__right-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-info__content__right-info__content {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  font-family: 'Montserrat-Bold';
}

.table-info__content__right-info__des {
  font-style: italic;
  font-size: 1.4rem;
  text-align: end;
  font-family: 'SVN-Aptima-italic';
  padding-bottom: 2px !important;
}

.table-info__footer {
  display: flex;
  justify-content: space-between;
  padding: 4px 24px;
  height: 60px;
}

.table-info__footer__left-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.table-info__footer__left-info__content {
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  font-family: 'Montserrat-Bold';
}

.table-info__footer__right-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.table-info__footer__right-info__content {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Montserrat-Bold';
}

.wrapper-main-right {
  margin-top: -7px;
  padding-right: 20px;
  padding-left: 5px;
}

.no-border-bottom {
  border-bottom: none;
}

.text-center {
  text-align: center;
  align-items: center;
}
